@import "tailwindcss";

:root {
  --bg-main: #050505;
  --bg-card: #0d0d0d;
  --border: #1f1f1f;
  --text-main: #f5f5f5;
  --text-muted: #9ca3af;
  --accent: #f97316; /* ORANGE */
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: Inter, system-ui, sans-serif;
  overflow-x: hidden;

}


.input {
  @apply w-full px-4 py-3 rounded-lg bg-black border border-white/20 text-white placeholder-gray-400 focus:outline-none focus:border-orange-400;
}
